{% extends 'master.html' %}
{% block body %}
<h1 class="title">Create an Event</h1>
<form method="POST" action="/create_event">
    {% csrf_token %}
    </br>
    <div class="control">
        <label class="label">Start Time</label>
        <input class="input is-primary" name="start_time" placeholder="start time here..."></input>
    </div>
    </br>
    <div class="control">
        <label class="label">End Time</label>
        <input class="input is-primary" name="end_time" placeholder="end time here..."></input>
    </div>
    </br>
    </div>
    <div class="control">
        <label class="label">Event Visibility</label>
        <label class="radio">
            <input type="radio" value="public" name="visibility" checked>
            Public
        </label>
        <label class="radio">
            <input type="radio" value="private" name="visibility">
            Private
        </label>
    </div>
    </br>
    <div class="control">
        <label class="label">Event Tags (space-delimited)</label>
        <input class="input is-primary" name="tags" placeholder="custom type here..."></input>
    </div>
    </br>
    <div>
        <label class="label">Event Title</label>
        <input name="title" class="input is-primary" type="text" placeholder="Enter summary..."></input>
    </div>
    </br>
    <div>
        <label class="label">Event Summary</label>
        <input name="summary" class="input is-primary" type="text" placeholder="Enter summary..."></input>
    </div>
    </br>
    <div>
        <label class="label">Event Content / Comment</label>
        <textarea name="content" class="textarea is-primary" placeholder="Enter comment..."></textarea>
    </div>
    </br>
    <button type="submit" class="button is-primary">Create</button>
</form>
{% endblock %}