{% extends 'master.html' %}
{% block body %}
<link rel="stylesheet" href={{theme}}>
<h1 class="title">
    Home
</h1>

<h2>
    You are currently logged in as <strong>{{user.first_name}}</strong>
</h2>
</br>

<a href="/create_event">Create New Event</a>
</br>
<br/>

<h2 class="label">Your Slimelines</h2></br>
<p>
    <div class="columns">
        <div class="column post-list">
            <div class="post card">
                <header class="card-header">
                    <p class="card-header-title">
                        {{slimeline.name}}
                    </p>
                    <p>Created on {{slimeline.created_at}}</p>
                </header>
                <div class="card-content">
                    <div class="content">
                        slimeline visual goes here! </br>
                        {% for event in user.event_author.all %}
                        <li>
                            <a href="{% url 'display_event' %}#event_name">{{event.title}}</a>
                        </li>
                        {% endfor %}
                    </div>
                </div>
                </br>
            </div>
        </div>
    </div>
</p>
{% endblock %}