{% extends 'master.html' %}
{% block body %}
<h1 class="title">
    Sign Up for Slimeline
</h1>


<form method="POST" action="/signup">
    {% csrf_token %}
    <div>
        <input name="email" class="input is-primary" type="text" placeholder="Email">
    </div>
    </br>
    <div>
        <input name="username" class="input is-primary" type="text" placeholder="Username">
    </div>
    </br>
    <div>
        <input name="first_name" class="input is-primary" placeholder="First Name">
    </div>
    </br>
    <div>
        <input name="last_name" class="input is-primary" placeholder="Last Name">
    </div>
    </br>
    <div>
        <input name="password" class="input is-primary" placeholder="Password" type="password" />
    </div>
    </br>
    <input type="submit" class="button is-primary" />
</form>
{% endblock %}